/* Footer */
@use '../variables';

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: variables.$background-color-dark;

    a {
        color: #222;
    }

    .social {
        font-size: 2rem;
    }

    p {
        margin-right: 5%;
    }
}
