/* analysis.scss */

/* Typografy */
h3, h4, h5, h6 {
    margin-top: 1rem;
}

/* Layout */
.flex-column-analysis-hidden {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    flex-grow: 30%;

    li {
        margin-bottom: 3em;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline double;
    } 
}

.spreadsheet {
    width: 100%;
    // margin: auto;
    min-height: 32em;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
}
