// Figure and body sizes

img {
    max-width: 100%;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

.logo {
    flex: 0 0 15%;
}

// .logo a img{
//     width: 10em !important;
// }

/* Arrows */

.long-arrow-right{
    display: block;
    margin: 20px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(105deg);
    float: inline-end;
}

.long-arrow-right::after{
    content: "";
    display: block;
    width: 2px;
    height: 45px;
    background-color: rgb(0,0,0);
    transform: rotate(-45deg) translate(15px, 4px);
    left: 0;
    top: 0;
}
