/* Placement and color */
@use '../variables';

body {
    display: flex;
    flex-direction: column;
    background-color: variables.$background-color;
}

.main {
    flex: 1 0 auto;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    
    p {
        padding: 1em;
        letter-spacing: 0.5px;
    }
    
    img {
        width: 500px;
        height: auto;
    }
}

.header, .footer {
    flex: 0 0 auto;
}

.margintop {
    margin-top: 50px;
    width: 500px;
}
