@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0 !important;
    }
    .title {
        min-width: 50% !important;
    }
    .logo {
        max-width: 30% !important;
    }
}
