@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0 !important;
    }
    
    .title {
        min-width: 50% !important;
    }
    
    .logo {
        max-width: 30% !important;
    }

    .main {
        width: 95%;

        p, li, dd {
            letter-spacing: 0.25px;
            text-align: left;
        }
    }
    // .logo a img{
    //     width: 100% !important;
    // }
}
