{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <a href="{{ pages["analysis/index"].url  }}" class="previous">&laquo; Tillbaka</a>
        <div class="flex-row-baseline">
            <div class="flex-column-analysis-hidden">
                <h4>Kolla in mina andra analyser!</h4>
                <ul>
                {% for page in pages("analysis") if (not page.hidden)  and (page.id!=current_page.id) %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <article class="flex-container-column">
                {{ content }}
            </article>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
