{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <a href="{{ pages["technology/index"].url  }}" class="previous">&laquo; Tillbaka</a>
        <div class="flex-row-baseline">
            <div class="flex-container-column-hidden">
                <ul>
                {% for page in pages("technology") if not page.hidden %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <article class="flex-container-column">
                {{ content }}
            </article>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
