$font-color: rgb(204, 204, 183);
$font-alternative-color: #333;
// $accent-color: #ee6c4d;
// $background-alternative-color: #e0fbfc;
$background-color-light: rgb(40, 40, 29);
$background-color: rgb(25, 25, 18);
$background-color-dark: rgb(10, 10, 7);
$background-color-extra-dark: rgb(0, 0, 0);
