html {
    font-size: 100%;
}

// html, body {
//     height: 100%;
// }

body {
    min-height: 100vh;
}

// p {
//     font-size: 1em;
// }

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
